CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeLists.txt.user
MathFunctions/libMathFunctions.a
Tutorial
bin
output
TutorialConfig.h
MathFunctions
*.autosave
.DS_Store
_*
CPackConfig.cmake
CPackSourceConfig.cmake
